* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.App {
  height: 1400px;
  width: 100vw;
  background: #191a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.App h1 {
  color: #d8e9a8;
  margin: 40px 0;
}
